<style>
    .comments-wrap{
        display: grid;
        grid-template-columns: 30px 100px 100px 100px 1fr 50px 50px;
    }
</style>

<div class="comments-wrap">

        <div>id</div>
        <div>email</div>
        <div>별칭</div>
        <div>작성일시</div>
        <div>댓글</div>
        <div></div>
        <div></div>
  
        <div>1</div>
        <div>test@kh.com</div>
        <div>테스터</div>
        <div>2022-03-07</div>
        <div>댓글1</div>
        <div><button id="delBtn" data-comment-id="1">삭제</button></div>
        <div><button id="updateBtn">수정</button></div>

        <div>2</div>
        <div>test2@kh.com</div>
        <div>테스터2</div>
        <div>2022-03-07</div>
        <div>댓글2</div>
        <div><button id="delBtn" data-comment-id="1">삭제</button></div>
        <div><button id="updateBtn">수정</button></div>
</div>