<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .comments-wrap {
            display: grid;
            grid-template-columns: 30px 100px 100px 200px 100px 200px 50px 50px;
        }
    </style>
</head>

<body>
    <div>
        <form action="">
            <input type="hidden" id="commentId" class="textContents">
            email : <input type="text" name="" id="email" class="textContents"><br>
            별칭 : <input type="text" name="" id="nickname" class="textContents"><br>
            댓글 : <textarea name="" id="comment" cols="30" rows="10" class="textContents"></textarea><br>
            <button type="button" id="saveBtn">등록</button><button type="reset">취소</button>
            <div><input type="text" id="detailItemId"><button type="button" id="detailItem">조회</button></div>
        </form>
    </div>

    <hr>
    <div class="comments-wrap">

        <!-- <div>id</div>
        <div>email</div>
        <div>별칭</div>
        <div>작성일시</div>
        <div>댓글</div>
        <div></div>
        <div></div> -->

        <!-- <div>1</div>
        <div>test@kh.com</div>
        <div>테스터</div>
        <div>2022-03-07</div>
        <div>댓글1</div>
        <div><button id="delBtn" data-comment-id="1">삭제</button></div>
        <div><button >수정</button></div> -->

    </div>
    <!-- <div><button id="saveBtn">등록</button></div> -->
    <!-- <div><button id="listBtn">목록</button></div> -->
    <!-- <div><button id="detailBtn">조회</button></div> -->
    <!-- <div><button id="delBtn">삭제</button></div> -->
    <!-- <div><button id="updateBtn">수정</button></div> -->
    <!-- <div><button id="delAllBtn">전체삭제</button></div> -->

    <script>
        $textContents = document.querySelectorAll('.textContents');
        saveBtn?.addEventListener('click', e => {
            console.log(e.target.textContent);
            if (e.target.textContent === '등록') {
                return saveBtn_f();
                // debounce(saveBtn_f(), 500);
                // saveBtn_f();
                console.log('등록');
            } else if (e.target.textContent === '수정') {
                return updateBtn_f();
                // updateBtn_f();
                console.log('수정');
            }
        });
        detailItem.addEventListener('click', detail_f);
        // listBtn.addEventListener('click', listBtn_f);
        // detailBtn.addEventListener('click', detailBtn_f);
        // delBtn.addEventListener('click', delBtn_f);
        // updateBtn.addEventListener('click', updateBtn_f);
        // delAllBtn.addEventListener('click', delAllBtn_f);

        document.querySelector('.comments-wrap').addEventListener('click', e => {
            console.log(e.target.classList);
            // console.log(e.target.classList[0]); //스프레드 문법
            // const classValues =Array.from(e.target.classList);

            //댓글 단건 삭제
            const [...classValues] = e.target.classList;
            if (classValues.includes('delBtn')) {
                console.log('delBtn');
                const commentId = e.target.dataset.commentId; //삭제할 댓글아이디
                delBtn_f(commentId);
            }
            //댓글 수정
            if (classValues.includes('updateBtn')) {
                console.log('updateBtn');
                const commentId = e.target.dataset.commentId; //수정할 댓글아이디
                detailBtn_f(commentId);
            }
            //댓글 전체 삭제
            if (classValues.includes('delAllBtn')) {
                console.log('delAllBtn');
                delAllBtn_f();
                return;
            }
        });


        //댓글 목록 출력
        listBtn_f();


        //상품상세
        function detail_f(e) {
            const url = `http://localhost:8080/api/comments/${detailItemId.value}`;
            fetch(url, {
                method: 'GET'
            }).then(res => res.json())
                .then(res => { printItem(res.data);})
                .catch(err => { console.error('Err:', err) });
        }

        //상품목록 출력
        function printItem(data) {
            console.log(data);
            
            const header =
                `<div>id</div>
                <div>email</div>
                <div>별칭</div>
                <div>작성일시</div>
                <div>댓글</div>
                <div>수정일</div>
                <div></div>
                <div><button type='button' class='delAllBtn'>전체삭제</button></div>`;

            let body = ``;
           
                body +=
                    `<div>${data.id}</div>
                <div>${data.email}</div>
                <div>${data.nickname}</div>
                <div>${data.cdate}</div>
                <div>${data.content}</div>
                <div>${data.udate}</div>
                <div><button class="delBtn" data-comment-id="${data.id}" >삭제</button></div>
                <div><button class="updateBtn" data-comment-id="${data.id}">수정</button></div>`;
          

            const $commentsWrap = document.querySelector('.comments-wrap');
            $commentsWrap.innerHTML = header + body;
        }

        //등록
        function saveBtn_f(e) {
            // body:data
            const data = `{
                            "email": "test1@kh.com",
                            "nickname" : "테스터1",
                            "content": "댓글내용1"
                            }`;

            //body: JSON.stringify(data2)
            const data2 = {
                "email": "test2@kh.com",
                "nickname": "테스터2",
                "content": "댓글내용2"
            };

            const data3 = {
                "email": email.value,
                "nickname": nickname.value,
                "content": comment.value
            };

            fetch('http://localhost:8080/api/comments', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                // body:data   //body: JSON.stringify(data2)
                body: JSON.stringify(data3)
            })
                .then(res => res.json())
                // .then(res => { console.log(res); listBtn_f(); })
                .then((res) => {
                    console.log(res);
                    listBtn_f();
                    $textContents.forEach((ele) => {
                        ele.value = '';
                    });
                })
                .catch(err => console.error('Err:', err));
        }

        //목록
        function listBtn_f(e) {
            fetch('http://localhost:8080/api/comments', {
                method: 'GET',
                // }).ten(res=> res.json())
            }).then(function (res) {
                return res.json();
                // }).ten(res=> console.log(res))
            }).then(function (res) {
                console.log(res);
                // if(!(res.data === null))
                displayComments(res.data);
                // }).catch(err=>{console.error('Err:',err)});
            }).catch(function (err) {
                console.error('Err:', err);
            });
        }
        // 수정용 조회
        function detailBtn_f(commentId) {
            const url = `http://localhost:8080/api/comments/${commentId}`;
            fetch(url, {
                method: 'GET'
            }).then(res => res.json())
                .then(res => {
                    console.log(res);
                    if (res.rtcd == '00') {
                        console.log(res.data);
                        const comment = res.data;
                        document.getElementById('commentId').value = comment.id;
                        document.getElementById('email').value = comment.email;
                        document.getElementById('nickname').value = comment.nickname;
                        document.getElementById('comment').value = comment.content;
                        saveBtn.textContent = '수정';

                    } else (
                        console.log(res.rtmsg)
                    )
                })
                .catch(err => { console.error('Err:', err) });
        }
        //삭제
        function delBtn_f(commentId) {

            if (!confirm('삭제하시겠습니까?')) return;

            const url = `http://localhost:8080/api/comments/${commentId}`;
            fetch(url, {
                method: 'DELETE'
            }).then(res => res.json())
                .then(res => {
                    console.log(res);
                    if (res.rtcd == '00') {
                        listBtn_f();
                    } else (
                        console.log(res.rtmsg)
                    )
                })
                .catch(err => { console.error('Err:', err) });
        }
        //수정
        function updateBtn_f(e) {
            const data3 = {
                "email": email.value,
                "nickname": nickname.value,
                "content": comment.value
            };

            const url = `http://localhost:8080/api/comments/${commentId.value}`;

            fetch(url, {
                method: 'PATCH',
                headers: { 'Content-Type': 'application/json' },
                // body:data   //body: JSON.stringify(data2)
                body: JSON.stringify(data3)
            })
                .then(res => res.json())
                .then((res) => {
                    if (res.rtcd === '00') {
                        console.log(res);
                        listBtn_f();
                        $textContents.forEach((ele) => {
                            ele.value = '';
                        });
                        saveBtn.textContent = '등록';
                    } else {
                        console.log(res.rtmsg);
                    }
                })
                // .then(res => { 
                // console.log(res);                    
                // document.getElementById('saveBtn').textContent = '등록';
                //  listBtn_f(); 
                // })
                .catch(err => console.error('Err:', err));
        }
        //전체삭제
        function delAllBtn_f(e) {
            if (!confirm('전체 삭제하시겠습니까?')) return;

            const url = `http://localhost:8080/api/comments/`;
            fetch(url, {
                method: 'DELETE'
            })
                .then(res => res.json())
                .then((res) => {
                    if (res.rtcd === '00') {
                        document.querySelector('.comments-wrap').innerHTML = '';
                    } else if (res.rtcd === '01') {
                        alert(res.rtmsg);
                    } else {
                        console.log(res.rtmsg);
                    }
                })
                // .then(res => {
                //     console.log(res);
                //     if (res.rtcd == '00') {
                //         listBtn_f();
                //     } else (
                //         console.log(res.rtmsg)
                //     )
                // })
                .catch(err => { console.error('Err:', err) });

        }

        //목록표시하기
        function displayComments(data) {
            console.log(data);

            const header =
                `<div>id</div>
                <div>email</div>
                <div>별칭</div>
                <div>작성일시</div>
                <div>댓글</div>
                <div>수정일</div>
                <div></div>
                <div><button type='button' class='delAllBtn'>전체삭제</button></div>`;

            let body = ``;
            data.forEach(comment => {
                body +=
                    `<div>${comment.id}</div>
            <div>${comment.email}</div>
            <div>${comment.nickname}</div>
            <div>${comment.cdate}</div>
            <div>${comment.content}</div>
            <div>${comment.udate}</div>
            <div><button class="delBtn" data-comment-id="${comment.id}" >삭제</button></div>
            <div><button class="updateBtn" data-comment-id="${comment.id}">수정</button></div>`;
            });

            const $commentsWrap = document.querySelector('.comments-wrap');
            $commentsWrap.innerHTML = header + body;

        }

        function debounce(dallback, delay) {
            let timerId;
            return function (event) {
                if (timerId) clearTimeout(timeId);
                timerId = setTimeout(callback, delay, event);
            };
        }

    </script>
</body>

</html>