<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항 등록</title>
<!--  <link rel="stylesheet" href="../css/notice/common.css" th:href="@{/css/notice/common.css}">-->

</head>
<body>
  <div class="wrap">
    <div class="content">
      <h3>상품 등록</h3>
      <hr>
      <form th:action th:method="post" th:object="${addForm}">
        <ul>
          <li>
            <span>@상품명</span>
            <input type="text" th:field="*{name}">
          </li>
          <li>
            <span>@@수량</span>
            <input type="text" th:field="*{quantity}">
          </li>
          <li>
            <span>상품가격</span>
            <input type="text" th:field="*{price}">
          </li>
          <li>
            <button type="button" id="writeBtn">등록</button>
            <button type="button" id="listBtn">목록</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
  <script>
    const $writeBtn = document.getElementById('writeBtn');
    const $listBtn = document.getElementById('listBtn');

    $writeBtn.addEventListener('click', e=>{
      e.target.closest('form').submit();
    });
    $listBtn.addEventListener('click', ()=>{
      const url = `/api/product/all`;
      location.href = url;
    });

  </script>
</body>
</html>
